//Mise en forme des pages des logements
.container-accommodation {
    .accommodation-informations {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) { 
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        h1 {
            margin: 0;
            font-size: 1.125em;
            color: $main-color;
            font-weight: 500;
    
            @media (min-width: 1024px) { 
                font-size: 2.25em;
            }
        }
    
        .location {
            font-size: 0.875em;
            font-weight: 500;
            margin: 0;
    
            @media (min-width: 1024px) { 
                font-size: 1.125em;
            }
        }

        .tags {
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            margin: 10px 0 10px 0;

            @media (min-width: 1024px) { 
                margin: 20px 0 20px 0;
            }
    
            .tagElement {
                min-width: 84px;
                height: 18px;
                padding: 0 5px 0 5px;
                font-size: 0.625em;
                font-weight: 700;
                color: white;
                background-color: $main-color;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
    
    
                @media (min-width: 1024px) { 
                    min-width: 115px;
                    height: 25px;
                    padding: 0 5px 0 5px;
                    font-size: 0.875em;
                }
            }
        }
    
        .owner-infos {
            display: flex;
            flex-direction: row-reverse;
            align-content: center;
            align-items: center;
            justify-content: space-between;
    
            @media (min-width: 1024px) { 
                flex-direction: column;
                align-items: flex-end;
            }
    
            .owner {
                display: flex;            
                justify-content: flex-end;
                align-items: center;
                column-gap: 10px;
        
                .host-name {
                    font-size: 0.75em;
                    font-weight: 500;
                    color: $main-color;
                    text-align: right;
                    width: 93px;
        
                    @media (min-width: 1024px) { 
                        font-size: 1.125em;
                    }
                }
        
                .host-picture {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
        
                    @media (min-width: 1024px) { 
                        width: 64px;
                        height: 64px;
                    }
                }        
            }

            .rating {
                display: flex;
                column-gap: 5px;

                @media (min-width: 1024px) { 
                    column-gap: 10px;
                }

                svg {
                    @media (min-width: 1024px) { 
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .container-collapse {
        display: flex;

        @media (min-width: 1024px) { 
            flex-direction: row;
            justify-content: space-between;
            column-gap: 76px
        }

        .collapse {
            @media (min-width: 1024px) {
                width: 100%;
            }

            ul {
                margin: 0;
                padding: 10px 20px 10px 20px;
                
                @media (min-width: 1024px) {
                    padding: 15px 25px 15px 25px;
                }

                li {
                    list-style-type: none;
                    font-size: 0.75em;
                    font-weight: 500;

                    @media (min-width: 1024px) {
                        font-size: 1em;
                        padding: 2px 0 2px 0;
                    }
                }
            }
        }
    }
}
    

