//Mise en forme de la page d'accueil
.container-accommodations {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 22px;

    @media (min-width: 1024px) { 
        background-color: $light-grey;
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 60px;
        border-radius: 25px;
    }

    @media (min-width: 1300px) { 
        grid-template-columns: repeat(3, 1fr);
    }

    .block-accommodation {
        width: 100%;
        height: 255px;
        display: flex;
        align-items: flex-end;

        @media (min-width: 1024px) { 
            width: 340px;
            height: 340px;
        }

        img {
            width: 100%;
            height: 255px;
            object-fit: cover;
            position: relative;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);

            @media (min-width: 1024px) { 
                width: 340px;
                height: 340px;
            }

        }

        p {
            font-size: 1.125em;
            font-weight: 700;
            color: white;
            margin: 0;
            padding: 0 20px 20px 20px;
            z-index: 100;
            position: absolute;
            width: 70%;
            
            @media (min-width: 1024px) { 
                width: 300px;
            }

        }
    }
}