.slideshow {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    @media (min-width: 1024px) { 
        margin-bottom: 30px;
    }

    .slide {
        height: 100%;
        width: 100%;
        border-radius: 10px;
        
        @media (min-width: 1024px) { 
            height: 415px;
            object-fit: cover;
        }
    }

        .directions {
            display: flex;
            position: absolute;
            width: 100%;
            justify-content: space-between;
            
            img {
                height: 24px;
                cursor: pointer;

                @media (min-width: 1024px) { 
                    height: 79px;
                }
            }

            .arrow-left {
                padding-left: 10px;

                @media (min-width: 1024px) { 
                    padding-left: 24px;
                }
            }

            .arrow-right {
                padding-right: 10px;

                @media (min-width: 1024px) { 
                    padding-right: 24px;
                }
            }
        }

        .pagination {
            display: none;

            @media (min-width: 1024px) { 
                display: flex;
                font-size: 1.125em;
                font-weight: 500;
                color: white;
                position: absolute;
                bottom: 25px;
                width: 100%;
                justify-content: center;
            }
        }
    
}